<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}} 
    </head>
<body>
   
   {{>navbar}}

   <!-- main haeder -->
   <div class="container-fluid main-header">
    <div class="row">
        <div class = "col-md-10 col-12 mx-auto">
           <div class="row">
               <!-- left side div -->
               <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="pictures/char.png">
                </figure>
             </div>
             
               <div class="col-md-6 col-12 main_header_left">
                   <p>Welcome to my portfolio</p>
                   <h1>i am a<span class="txt_clr"> full stack </span>developer</h1>
                   <a href="https://yashrawalportfolio.netlify.app/" target="_blank" ><button>Check Portfolio</button></a>
               </div>
               
               
           </div>

        </div>
    </div>
   </div>
    
     <!-- Footer -->

    {{>footer}}

</body>
</html>