<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}} 
    </head>
<body>
   
   {{>navbar}}

   <!-- main haeder -->
   <div class="container-fluid main-header">
    <div class="row">
        <div class = "col-md-10 col-12 mx-auto">
           
           <div class="main_content">
               <form class="temp_form">

                 <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                  <input type="submit" value="search" id="submitbtn">    

               </form>
           </div>
              <div class="temp_info">
                  <div class="top_layer">
                      <p id="day"> </p>
                      <p id="today_date" </p>
                  </div>
                  <div class="main_layer">
                      <p id="city_name">Get output</p>
                      <div class="middle_layer data_hide">
                          <p id="temp"><span id="temp_real_val">0</span> <sup>0</sup>C</p>
                          <p id="temp_status"><i class="fas fa-cloud"></i> </p>
                      </div>
                  </div>
              </div>
        </div>
    </div>
   </div>
    
     <!-- Footer -->

    {{>footer}}

    <script src="js/main.js"></script>

    <script>
           months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

           days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

           date_data = new Date()

           //get day
           current_day = date_data.getDay()
           document.getElementById('day').textContent = days[current_day]

            //get date
           
           current_month = date_data.getMonth()
           current_date = date_data.getDate()
           cureent_year = date_data.getFullYear();
           document.getElementById('today_date').textContent =`${months[current_month]} ${current_date}`


        
    </script>

</body>
</html>